alembic==1.13.1
asyncpg==0.30.0
psycopg2==2.9.10
sqlalchemy[asyncio]
attrs==23.2.0
fastapi==0.115.8
fastjsonschema==2.21.1
httpx==0.28.1
uvicorn==0.34.0
SQLAlchemy==2.0.36
redis==5.2.1
slowapi==0.1.9
pydantic==2.10.6
pydantic-extra-types==2.10.2
pydantic-settings==2.7.1
greenlet
seaborn==0.13.2
matplotlib==3.10.0
httpx==0.28.1